.Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.Header {
    display: flex;
}

.AboutMe {
    display: flex;
    flex-direction: row;
}

.AboutMe1 {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.Projects {
    display: flex;
    flex-direction: column;
}

.Skills {
    display: flex;
    flex-direction: column;
}

.Skills1 {
    display: flex;
    flex-direction: row;
}

.Contact {
    display: flex;
    flex-direction: column;
}